<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('header'); %>
  <title>QUIZ</title>
</head>
<body>
	<%- include('navbar'); %>
	<div class="text-center">
		<a href="/quiz/1" type="button" class="fs-1 badge bg-warning text-wrap text-decoration-none">Start quiz</a>
	</div>
	<%- include('footer'); %>
</body>
</html>