<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('header'); %>
	<title>TIPS</title>
</head>
<body>
	<%- include('navbar'); %>
	<div class="text-center">
		<h2 class="fs-1 badge bg-warning text-wrap">TIPS VOOR VEILIGER INTERNET</h2>
		
		<div>
			<p class="lead fs-2 text-light">1. Let goed op</p>
			<p class="lead fs-5 text-warning">
				Goed opletten blijft het belangrijkste. Bekijk de trucs van criminelen bij
				WhatsApp-fraude, Marktplaats-oplichting en nepmails (phishing).
			</p>
			
			<p class="lead fs-2 text-light">2. Kies een goede antivirussoftware</p>
			<p class="lead fs-5 text-warning">
				Een goede virusscanner beschermt je pc tegen malware zoals ransomware
				(gijzelsoftware) en nepwebsites (phishing).
			</p>
			
			<p class="lead fs-2 text-light">3. Gebruik een tweefactorauthenticatie</p>
			<p class="lead fs-5 text-warning">
				Bij tweefactorauthenticatie gebruik je naast een wachtwoord vaak een extra
				code of app. Gedoe? Vaak hoef je de extra code maar 1 keer per apparaat, locatie of maand te bevestigen.
			</p>
			
			<p class="lead fs-2 text-light">4. Maak back-ups</p>
			<p class="lead fs-5 text-warning">
				Maak een back-up van je bestanden voor als er toch iets fout gaat. Maak
				het liefst 2 kopieën van je data. Bewaar 1 daarvan op een andere locatie (of online).
			</p>
		</div>
	</div>
	<%- include('footer'); %>
</body>
</html>